* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #aa4b6b, #6b6b83, #3b8d99);
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
}

.todo {
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.705);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.input-note {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 200px;
  height: 80px;
  border: none;
  outline: none;
  white-space: pre-line;
  padding-left: 35px;
  font-size: 20px;
}
::placeholder {
  font-size: 20px;
  color: rgb(126, 126, 126);
}

.todos {
  margin-bottom: 50px;
  width: 500px;
}

.deleteBtn {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 20px;
}

button {
  border: none;
  border-radius: 8px;
  background-color: rgb(252, 247, 244);
  padding: 5px;
  outline: none;
  margin-right: 8px;
}

button:last-of-type {
  margin-right: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 8px;
}
.listText {
  word-wrap: break-word;
  max-width: 400px;
}
